@model List<books.Models.ViewModels.YazarListVM>

<div class="card mb-4">
    <div class="card-header">Yazarlar
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                @foreach (var yazar in Model)
                {
                    <a href="/Kitaplar/Yazar/@yazar.Id" class="btn btn-dark my-1">@yazar.YazarAdi @yazar.YazarSoyadi
                        <span class="badge bg-warning text-dark ms-1">@yazar.kitapSayisi</span></a>
                    <br>
                }
            </div>
        </div>
    </div>
</div>

