@model books.Models.AdminViewModels.UserVM;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Sil</h1> 
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin">Ana Sayfa</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Turler">User</a></li>
                    <li class="breadcrumb-item active">UserSil</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="card card-info col-6">
    <!-- /.card-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post">
        <div class="card-body">
                        <div class="form-group row">
                <div class="col-sm-12">
                    <p class="fs-5">Silmek istediğinden emin misin?</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-10">
                    <input asp-for="Id" type="text" title="@Model.Id" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input asp-for="username" type="text" title="@Model.username" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input asp-for="password" type="text" title="@Model.password" class="form-control" disabled>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-info float-right">Sil</button>
            <button type="button" class="btn btn-default" onclick="GeriDon()">Vazgeç</button>
        </div>
        <!-- /.card-footer -->
    </form>
</div>
<!-- /.card -->

</div>

<script>
    function GeriDon()
    {
        location.replace("/Admin/Turler");
    }
</script>